<div class="psmenu"
     ng-class="{ 'psmenu-inactive': !isMenuActive, 'psmenu-active': isMenuActive }">
    <psmenu-toggle activecolor="rgba(125, 125, 255, .4)" inactivecolor="rgba(255, 255, 255, .3)" toggle="isMenuActive" ng-click="ui.view('none')"></psmenu-toggle>
    <psmenu-toggle activecolor="rgba(125, 255, 125, .2)" inactivecolor="rgba(255, 255, 175, .2)" toggle="settings.paused">
        <div style="position: fixed; width: 30px; line-height: 30px; left: 50px; top: 10px; font-size: 20px;"
             class="glyphicon"
             ng-class="{'glyphicon-play': settings.paused, 'glyphicon-pause': !settings.paused}">
        </div>
    </psmenu-toggle>


    <div style="position: fixed; top: 10px; left: 90px; line-height: 30px; font-size: 15px; color: rgba(255,255,255,.25);">
        <span id="particleCount"></span>
        <span id="fps"></span>
        <span id="cap"></span>
    </div>

    <div ng-show="isMenuActive" style="margin-top: 10px;">
        <psmenu-dropdown title="file">
            <psmenu-button ng-click="newInstance()" title="new"></psmenu-button>
            <psmenu-button menu="load" title="load"></psmenu-button>
            <psmenu-button menu="save" title="save"></psmenu-button>
            <psmenu-button ng-click="downloadImage()" title="image"></psmenu-button>
        </psmenu-dropdown>
        <psmenu-button menu="visuals" title="visuals"></psmenu-button>
        <psmenu-button menu="physics" title="physics"></psmenu-button>
        <psmenu-button menu="generate" title="generate"></psmenu-button>
        <psmenu-button menu="help" title="help"></psmenu-button>
    </div>
</div>


<div class="psmenu-menu" ng-show="view() === 'visuals'">
    <table style="width: 300px;">
        <tr>
            <td>Show Trails</td>
            <td>
                <input ng-model="settings.showTrail" ng-click="State.clear()" type="checkbox"/>
            </td>
        </tr>
        <tr>
            <td>Trail Type</td>
            <td>
                <select class="form-control" ng-model="trailType" ng-change="setTrailType()">
                    <option value="1">Full Redraw</option>
                    <option value="2">No Redraw</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Trail Lifetime</td>
            <td>
                <div ui-slider min="0" max="30" ng-model="settings.trailLifetime"></div>
            </td>
        </tr>
        <tr>
            <td>Follow Largest</td>
            <td>
                <button ng-click="followLargest()" class="btn" ng-class="{'btn-success': !settings.followLargest, 'btn-danger': settings.followLargest}">
                    {{!settings.followLargest && "Enable" || "Disable"}}
                </button>
            </td>
        </tr>
        <tr>
            <td>Show Quadtree</td>
            <td>
                <button ng-click="settings.showQuadtree = !settings.showQuadtree" class="btn" ng-class="{'btn-success': !settings.showQuadtree, 'btn-danger': settings.showQuadtree}">
                    {{!settings.showQuadtree && "Enable" || "Disable"}}
                </button>
            </td>
        </tr>
    </table>
</div>


<div class="psmenu-menu" ng-show="view() === 'physics'">
    <table>
        <tr>
            <td>Proportion</td>
            <td style="width: 200px; padding-right: 10px; padding-left: 10px;">
                <div ui-slider use-decimals min="0" max="2" step="0.01" ng-model="gravityProportion" ng-change="gravityChanged()"></div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Linear</td>
            <td style="width: 200px; padding-right: 10px; padding-left: 10px;">
                <div ui-slider use-decimals min="0" max="1" step="0.01" ng-model="gravityExponential" ng-change="gravityChanged()"></div>
            </td>
            <td>Exponential</td>
        </tr>
    </table>
</div>


<div class="psmenu-menu" ng-show="view() === 'generate'">
    <table>
        <tr>
            <td>Spawn Rate</td>
            <td>
                <input class="form-control" ng-model="settings.generateParticleRate" type="number" min="1" max="30"/>
            </td>
        </tr>
        <tr>
            <td>Spawn Area</td>
            <td>
                <input class="form-control" ng-model="settings.generateParticleArea" type="number" min="1"/>
            </td>
        </tr>
        <tr>
            <td>Particle Speed</td>
            <td>
                <input class="form-control" ng-model="settings.generateParticleSpeed" type="number" min="0"/>
            </td>
        </tr>
        <tr>
            <td>Avg Particle Size</td>
            <td>
                <input class="form-control" ng-model="settings.generateParticleSize" type="number" min="1"/>
            </td>
        </tr>
        <tr>
            <td>Inner <-> Outer</td>
            <td>
                <div ui-slider min="-5" max="5" ng-model="settings.generateParticleRandomizer"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 20px;">
                <input type="button" value="Generate Particles" ng-class="isButtonActive(settings.generateParticles)" ng-click="settings.generateParticles = !settings.generateParticles"/>
            </td>
        </tr>
    </table>
</div>


<div class="psmenu-menu" ng-show="view() === 'save'">
    <div class="inline-block">
        <input class="form-control" ng-model="saveName" placeholder="enter save name" type="text" value=""/>
    </div>
    <button class="btn btn-primary inline-block" ng-click="save();">Save</button>
</div>


<div class="psmenu-menu" ng-show="view() === 'load'">
    <div ng-show="loadSaveList.length === 0">
        There are no saves for you to load!
    </div>
    <div ng-show="loadSaveList.length > 0">
        <div class="inline-block">
            <select class="form-control" ng-model="loadSaveName">
                <option ng-repeat="saveName in loadSaveList">{{saveName}}</option>
            </select>
        </div>
        <div ng-show="!confirmDelete" class="inline-block">
            <div class="btn btn-primary" ng-click="loadSave()">Load</div>
            <div class="btn btn-danger" ng-click="confirmDelete = !confirmDelete">Delete</div>
        </div>
        <div ng-show="confirmDelete" class="inline-block">
            <div ng-click="deleteSave();confirmDelete = false" class="btn btn-danger">Confirm</div>
            <div ng-click="confirmDelete = false" class="btn btn-default">Cancel</div>
        </div>
    </div>
</div>


<div ng-show="view() === 'help'">
    <div class="pop-bg" style="background-color: rgba(0,0,0,.35)" ng-click="view('none')">
    </div>
    <div class="pop-inner" style="height: auto;">
        {{tutorialData[tutorialIndex]}}
        <br/><br/>
        <button class="btn btn-info" ng-click="tutorialNext()">Next</button>
        <button class="btn btn-info" ng-click="show('none')">Close</button>
    </div>
</div>