language: node_js
node_js:
  - "8"
script:
  - if [ "$TRAVIS_BRANCH" = "develop" ]; then npm run travis-develop; fi
  - if [ "$TRAVIS_BRANCH" = "master" ];  then npm run travis-master;  fi
branches:
  only:
    - develop
    - master
