<?xml version='1.0' encoding='utf-8'?>
<widget id="com.particlesandbox" version="2.12.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Particle Sandbox</name>
    <description>
        Grand-scale interactive gravity simulator game.
    </description>
    <author email="apexearth@gmail.com">
        Christopher Jacobs
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="FullScreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <icon density="mdpi" src="www/img/launcher-icon/res/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="www/img/launcher-icon/res/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="www/img/launcher-icon/res/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="www/img/launcher-icon/res/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="www/img/launcher-icon/res/mipmap-xxxhdpi/ic_launcher.png" />
    </platform>
    <platform name="ios">
        <icon height="180" src="www/img/launcher-icon/res/ios/180.png" width="180" />
        <icon height="60" src="www/img/launcher-icon/res/ios/60.png" width="60" />
        <icon height="120" src="www/img/launcher-icon/res/ios/120.png" width="120" />
        <icon height="76" src="www/img/launcher-icon/res/ios/76.png" width="76" />
        <icon height="152" src="www/img/launcher-icon/res/ios/152.png" width="152" />
        <icon height="40" src="www/img/launcher-icon/res/ios/40.png" width="40" />
        <icon height="80" src="www/img/launcher-icon/res/ios/80.png" width="80" />
    </platform>
    <config-file parent="UIStatusBarHidden" platform="ios" target="*-Info.plist">
        <true />
    </config-file>
    <config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios" target="*-Info.plist">
        <false />
    </config-file>
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-plugin-admob-simple" spec="^3.3.4" />
    <plugin name="cordova-plugin-fullscreen" spec="git+https://github.com/mesmotronic/cordova-plugin-fullscreen.git" />
    <plugin name="cordova-plugin-insomnia" spec="git+https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-whitelist" spec="git+https://github.com/apache/cordova-plugin-whitelist.git" />
</widget>
