$base: #bbffbb;
$base-bg: #4b5d4d;
$base2: #aab2f9;
$base2-bg: #4d4e62;
$base3: #f9e8d1;
$base3-bg: #635c53;
$base4: #f99689;
$base4-bg: #5b3732;
$base5: #ababab;
$base5-bg: #4c4c4c;
$app-bg-color: #000000;
$gui-bg-color: fade-out($base-bg, .65);
$gui-bg-color-light: fade-out($base-bg, .45);
$gui-popup-bg: rgba(0, 0, 0, .9);
$gui2-bg-color: rgba(15, 15, 15, .75);
$gui2-bg-color2: rgba(30, 30, 30, .75);
$gui2-bg-color2-solid: rgba(30, 30, 30, 1);
$gui2-border: solid 1px rgba(50, 50, 50, .50);
$gui2-border2: solid 1px rgba(100, 100, 100, .50);
$gui-padding: 10px;
$gui-padding-half: 5px;

$font-base: fade-out(lighten($base, .1), .20);
$font-family: "Courier New", Courier, monospace;

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets $ 600 or $ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

.no-text-select {
  user-select: none;
}

html, body {
  @extend .no-text-select;
  margin: 0;
  color: $font-base;
  font-family: $font-family;
  background-color: $app-bg-color;
}

body {
  position: relative;
}

.gui-fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

canvas {
  @extend .no-text-select;
  @extend .gui-fullscreen;
  filter: invert(100%);
  z-index: -1;
}

input {
  @extend .gui-backpanel-light;
  @extend .gui-border;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

button {
  @extend .gui-button;
  border: none;
  padding: 2px;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.title h3 {
  margin: 0 0 5px;
}

@mixin clickable($color, $click-color) {
  cursor: pointer;
  &:hover {
    background-color: fade-out($color, .20);
  }
  &:active {
    background-color: fade-out($click-color, .35);
  }
}

.gui-border {
  border: solid 1px fade-out($base, .70);
}

@mixin gui-rounded($size) {
  border-radius: $size;
}

.gui-backpanel {
  background-color: $gui-bg-color;
}

.gui-backpanel-light {
  background-color: $gui-bg-color-light;
}

.gui-text {
  padding-left: $gui-padding;
  padding-right: $gui-padding;
}

@mixin gui-button($color, $color2) {
  background-color: fade-out($color, .15);
  box-sizing: border-box;
  @extend .no-text-select;
  @include clickable($color, $color2);
}

.gui-button {
  @include gui-button($base-bg, $base2-bg);
}

$gui-button-height: 25px;
.gui-button-span {
  font-size: 0;
  text-align: center;

  span {
    top: 0;
    color: fade-out($base, .25);
    font-size: 16px;
    line-height: $gui-button-height;
    text-align: center;
  }
}

@mixin gui-text-button($color, $color2) {
  @include gui-button($color, $color2);
  @extend .gui-text;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gui-text-button {
  @include gui-text-button($base-bg, $base2-bg);
}

.gui-text-button-neutral {
  @include gui-text-button($base5-bg, $base2-bg);
}

.gui-text-button-disabled {
  @include gui-text-button($base5-bg, $base5-bg);
}

.gui-text-button-selected {
  @include gui-text-button($base2-bg, $base2-bg);
}

.gui-panel {
  @extend .gui-backpanel;
  @include gui-rounded(3px);
  padding: $gui-padding;
}

.gui-window {
  @extend .gui-panel;
}

.gui-flex-row {
  display: flex;
}

.gui-table {
  cursor: default;
  th {
    background-color: fade-out($base-bg, .10);
    border-bottom: solid 1px fade-out($base-bg, .10);
    padding-left: 5px;
    padding-right: 5px;
  }
  td {
    background-color: fade-out($base-bg, .50);
    border-bottom: solid 1px fade-out($base-bg, .30);
    border-right: solid 1px fade-out($base-bg, .30);
    padding-left: 5px;
    padding-right: 5px;
  }
  & .row {
    &:hover {
      background-color: fade-out($base3-bg, .10);
    }
  }
  & .row-selected {
    background-color: fade-out($base3-bg, .20);
  }
  & .button, & .prev, & .next {
    text-align: center;
    background-color: fade-out($base-bg, .10);
    &:hover {
      cursor: pointer;
      background-color: fade-out($base-bg, .20);
    }
  }
}

.gui-center {
  @extend .gui-fullscreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gui-popup {
  @extend .gui-center;
  background-color: $gui-popup-bg;
  z-index: 100;
}

.gui-notification {
  background-color: $gui2-bg-color;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  div {
    display: inline-block;
    line-height: 20px;
    padding: 5px;
    margin-left: 5px;
  }
}

.gui-overlay {
  background-color: $gui2-bg-color2-solid;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.settings-list {
  align-content: center;
}

.settings-input {
  display: flex;
  font-size: smaller;
  align-items: center;
  & *:nth-child(1) {
    width: 100%;
  }

  & *:nth-child(2) {
    margin-left: 10px;
    width: 70px;
  }
}

.settings-button {
  @extend .settings-input;
  margin-top: 4px;
  background-color: #811917;

}

.settings-button-active {
  @extend .settings-input;
  background-color: #448148;
}

#gui-buttons {
  @extend .gui-flex-row;
  position: relative;
  left: $gui-padding;
  top: $gui-padding;

  > div {
    margin-right: $gui-padding-half;
  }
}

$menu-button-size: 25px;
.rectangle-text {
  @include gui-rounded(3px);
  @extend .gui-backpanel-light;
  font-size: 12px;
  width: $menu-button-size * 2;
  height: $menu-button-size;
  line-height: $menu-button-size + 1;
  text-align: center;
}

.square-button {
  @include gui-rounded(3px);
  @include gui-button($base-bg, $base2-bg);
  @extend .gui-button-span;
  width: $menu-button-size;
  height: $menu-button-size;
  line-height: $menu-button-size;
}

.square-button-active {
  @include gui-button(lighten($base-bg, .25), $base2-bg)
}

.square-button-warning {
  @include gui-button($base4-bg, $base2-bg)
}

.events {
  pointer-events: all;
}

#root {
  position: fixed;
}

#menu {
  @include gui-rounded(3px);
  display: inline-block;
  position: fixed;
  left: $gui-padding;
  top: $gui-padding * 2 + $gui-button-height;
  min-width: 50px;
  min-height: 50px;
  z-index: 2;
  overflow: visible; // To keep rounded edges.
  pointer-events: none;
}

#menu-buttons {
  height: 0;
  overflow: visible;
}

#menu-settings {
  min-width: 150px;
}

#explore-menu {
  table {
    width: 90%;
    height: 80%;
  }
  table td {
    min-width: 70px;
    line-height: 18px;
    height: 18px;
  }
  table td:nth-of-type(2) {
    min-width: 50px;
  }
  table:nth-of-type(1) {
    margin-bottom: 5px;
  }
}

// Currently doesn't display well on narrow widths.
#selection-info {
  display: none;
}

@media (min-width: 750px) {
  #selection-info {
    display: block;
    position: fixed;
    right: 0;
    min-width: 100px;
    padding: 10px;
    border-left: solid 1px fade-out($base, .60);
    border-bottom: solid 1px fade-out($base, .60);
    border-bottom-left-radius: 4px;
    z-index: 2;
  }

  #selection-info > table > tr > td:nth-of-type(1) {
    padding-right: 5px;
  }
}

#zoom-buttons {
  height: 25px;
  z-index: 2;
  display: flex;
  align-items: center;
  font-size: 0;
}

#zoom-buttons .zoom-meter-center {
  display: flex;
  align-items: center;
}

#top-left {
  position: fixed;
}

#top-right {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
}

#bottom-left {
  position: fixed;
  display: flex;
  bottom: 0;
}

#bottom-right {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
}

#share-buttons {
  display: flex;
}

#share-buttons > div > div, #share-buttons > a {
  filter: opacity(.5);
}

#share-buttons > div > div:hover, #share-buttons > a:hover {
  filter: opacity(.75);
  cursor: pointer;
}

#statistics {
  display: flex;
  filter: opacity(.75);
  margin-bottom: -2px;
  div {
    padding: 2px 5px 2px 5px;
  }
  @media (max-width: 600px) {
    div:nth-of-type(3), div:nth-of-type(4), div:nth-of-type(5), div:nth-of-type(6) {
      display: none;
    }
  }
}

#ad-space {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 10000;
}

#version {
  cursor: default;
  padding-right: 5px;
}
