@import "../index.less";

#introduction-screen-root {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  .introduction-screen-step {
    text-align: center;
    font-size: 2em;
  }
  .introduction-screen-ctc {
    font-size: .5em;
  }
}