@base: #bbffbb;
@base2: #aab2f9;
@base3: #f9e8d1;
@gui-bg-color: fade(@base, 15%);
@gui-padding: 10px;
@gui-padding-half: 5px;

@font-base: fade(lighten(@base, 10%), 80%);
@font-family: "Courier New", Courier, monospace;

.no-text-select {
  user-select: none;
}

html, body {
  .no-text-select;
  margin: 0;
  color: @font-base;
  font-family: @font-family;
}

body {
  position: relative;
}

canvas {
  .no-text-select;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

input {
  .gui-backpanel;
  .gui-border;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.title h3 {
  margin: 0;
  margin-bottom: 5px;
}

.clickable(@color, @click-color) {
  cursor: pointer;
  &:hover {
    background-color: fade(@color, 28%);
  }
  &:active {
    background-color: fade(@click-color, 25%);
  }
}

.gui-border {
  border: solid 1px fade(@base, 30%);
}

.gui-rounded(@size: 3px) {
  border-radius: @size;
}

.gui-backpanel {
  background-color: @gui-bg-color;
}

.gui-text {
  padding-left: @gui-padding;
  padding-right: @gui-padding;
}

.gui-button(@color: @base, @color2: @base2) {
  background-color: fade(@color, 35%);
  box-sizing: border-box;
  .no-text-select;
  .clickable(@color, @color2);
}

@gui-button-height: 25px;
.gui-button-span {
  font-size: 0;
  text-align: center;

  span {
    top: 0;
    color: fade(@base, 75%);
    font-size: 16px;
    line-height: @gui-button-height;
    text-align: center;
  }
}

.gui-text-button {
  .gui-text-button(@base, @base2);
}

.gui-text-button(@color, @color2) {
  .gui-button(@color, @color2);
  .gui-text;
  text-align: center;
}

.gui-text-button-selected {
  .gui-text-button(@base2, @base2);
}

.gui-panel {
  .gui-backpanel;
  .gui-rounded;
  padding: @gui-padding;
}

.gui-window {
  .gui-panel;
}

.gui-flex-row {
  display: flex;
}

.gui-table {
  cursor: default;
  th {
    background-color: fade(@base, 15%);
    border-bottom: solid 1px fade(@base, 15%);
    padding-left: 5px;
    padding-right: 5px;
  }
  td {
    background-color: fade(@base, 10%);
    border-bottom: solid 1px fade(@base, 10%);
    border-right: solid 1px fade(@base, 10%);
    padding-left: 5px;
    padding-right: 5px;
  }
  & .row {
    &:hover {
      background-color: fade(@base3, 10%);
    }
  }
  & .row-selected {
    background-color: fade(@base3, 20%);
  }
  & .button, & .prev, & .next {
    text-align: center;
    background-color: fade(@base, 35%);
    &:hover {
      cursor: pointer;
      background-color: fade(@base, 25%);
    }
  }
}

.settings-list {
}

.settings-input *:nth-child(1) {
  width: 100%;
}

.settings-input *:nth-child(2) {
  margin-left: 10px;
  width: 70px;
}

#gui-buttons {
  .gui-flex-row;
  position: relative;
  left: @gui-padding;
  top: @gui-padding;

  > div {
    margin-right: @gui-padding-half;
  }
}

@menu-button-size: 25px;
.square-button {
  .gui-rounded;
  .gui-button(@base, @base2);
  .gui-button-span;
  width: @menu-button-size;
  height: @menu-button-size;
  line-height: @menu-button-size;
}

.square-button-active {
  .gui-button(lighten(@base, 25%), @base2)
}

#root {
  position: fixed;
}

#menu {
  .gui-rounded;
  display: inline-block;
  position: fixed;
  left: @gui-padding;
  top: @gui-padding * 2 + @gui-button-height;
  min-width: 50px;
  min-height: 50px;
  z-index: 2;
  overflow: hidden; // To keep rounded edges.
}

#menu-settings {
  min-width: 150px;
}

#explore-menu {
  table {
    width: 500px;
    height: 350px;
  }
  table td {
    min-width: 100px;
  }
  table td:nth-of-type(2) {
    min-width: 50px;
  }
  table:nth-of-type(1) {
    margin-bottom: 5px;
  }
}

#selection-info {
  position: fixed;
  right: 0;
  min-width: 100px;
  padding: 10px;
  border-left: solid 1px fade(@base, 40%);
  border-bottom: solid 1px fade(@base, 40%);
  border-bottom-left-radius: 4px;
  z-index: 2;
}

#selection-info > table > tr > td:nth-of-type(1) {
  padding-right: 5px;
}

#zoom-meter {
  height: 25px;
  z-index: 2;
  display: flex;
  align-items: center;
  font-size: 0;
}

#zoom-meter .zoom-meter-center {
  display: flex;
  align-items: center;
}

#zoom-meter .zoom-meter-hbar {
  line-height: 0;
  background-color: fade(@base, 40%);
  height: 4px;
  width: 100px;
  margin-left: -8px;
}

#zoom-meter .zoom-meter-vbar {
  line-height: 0;
  position: relative;
  background-color: fade(@base, 70%);
  width: 8px;
  height: @menu-button-size;
}

#link-original {
  color: fade(@base, 70%);
  font-size: smaller;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 4px;
}

#top-left {
  position: fixed;
}

#top-right {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
}

#bottom-left {
  position: fixed;
  display: flex;
  bottom: 0;
}

#share-buttons {
  display: flex;
}

#share-buttons > div > div, #share-buttons > a {
  filter: opacity(.5);
}

#share-buttons > div > div:hover, #share-buttons > a:hover {
  filter: opacity(.75);
  cursor: pointer;
}

#statistics {
  display: flex;
  filter: opacity(.75);
  margin-bottom: -2px;
}

#statistics > div {
  padding: 2px 5px 2px 5px;
}
