body {
    background-color: black;
    color: #aaa;
    cursor: default;
    line-height: 30px;
    font-size: 30px;
    font-family: arial;
    color: #000;
}

.backpanel {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
.bottom-menu > div {
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 20%;
    opacity: .1;
}
.bottom-menu > div:hover {
    opacity: .2;
}
.bottom-menu > div:active {
    opacity: .25;
}
